{% extends "base.jinja" %}

{% block content %}
    <h2>Want to Blog?</h2>
    <form action="" method="post">
    {{  blog_form.hidden_tag() }}
    <p>
    {{ blog_form.blogblock.label }}
    {{ blog_form.blogblock(size=32 )}}
    </p>
    <p> {{blog_form.submit(class='btn btn-primary') }}</p>
    
    </form>


{% endblock %}