{% extends "base.jinja "%}
{% block content %}
   
    <h2> carlist </h2>
    {% for carlist in car['carlist']%}
        <span>{{ carlist }} </span>

    {% endfor %}
    <h2>Brands</h2>
     {% for Brand in car.Brands %}
         <p>{{Brand}} </p>

    {% endfor %}
{% endblock%}