{% extends "base.jinja "%}
{% block content %}
    <h2> resturants</h2>
    <h2> employers </h2>
    {% for employer in cafe['employers']%}
        <span>{{ employer}} </span>

    {% endfor %}
    <h2>Tabels</h2>
    {% for tabel in cafe['tabels'] %}
        <p>{{tabels}} </p>

    {% endfor %}
{% endblock%}