{% extends 'base.jinja' %}

{%block content %}
    <h2>signup page</h2>
     <form action="" method="post"><br>
    {{ form.hidden_tag()}}
    <P>
    {{form.username.label }}<br>
    {{form.username(size=32)}}
    {% for error in form.username.errors%}
    <span>{{ error }}</span>
    {% endfor %}
    </P>
        <P>
    {{form.Firstname.label}}<br>
    {{form.Firstname(size=32)}}
    </P>   <P>
    {{form.Lastname.label}}<br>
    {{form.Lastname(size=32)}}
    </P>
     <P>
    {{form.email.label }}<br>
    {{form.email(size=32)}}
    </P>
    <P>
    {{form.password.label}}<br>
    {{form.password(size=32)}}
    </P>
    <P>
    {{form.confirm_password.label}}<br>
    {{form.confirm_password(size=32)}}
    </P>
    <p>{{form.submit(class='btn btn-primary')}}</p>
    </form>
{% endblock%}